@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Joel Hilton</h1>

<div>
    <p>This is a headshot of Joel Hilton</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
    <br />
</div>

<div>
    <a asp-controller="Home" asp-action="MovieForm">Fill Out Form</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Waitlist">View Movie List</a>
</div>
